.btnsDificultyDIV{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dificultyBTN{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    color:  rgba(0, 0, 0, 0.671);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    background-color: rgb(232, 209, 181);
    border: 1px rgba(0, 0, 0, 0.671) solid;
    border-radius: 5px;
    width: 70%;
}