.loadingView{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: bisque;
    width: 100%;
    height: 100%;
}

.loadingView-spinner{
    position: absolute;
    top:33%;
    height: 125px;
    width: 125px;
    background: url('../assets/imgs/star-svgrepo-com.png');
    background-size: contain;
}

.loadingText{
    font-family: "Karantina", system-ui;
    font-size: 50px;
    font-weight: 500;
}