/**
* @name style.css
* @file Add a small description for this file.
* @author Esteban Padilla ep@estebanpadilla.com
* @version 1.0.0
*/

:root {
    --primary-color: #000000;
    --secondary-color: rgb(51, 25, 249);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #000000d2;
    overflow: hidden;
}

h1 {
    color: var(--primary-color)
} innerHTML

h2 {
    color: var(--secondary-color)
}


.emojis {
    font-size: 60px;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
}

.contentContainer{
    width: 100%;
    height: calc(100% - 60px);
    background-color:bisque;

}

.navContainer{
    width: 100%;
    height: 70px;
    background-color: #D2B48C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.gameButton{
    height: 50px;
    width: 90%;
    background-color: #D2B48C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid black 1.5px;
    margin-bottom: 10px;
    font-size: 27px;
    font-weight: bold;
}

.btnsDIVTwo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:80%
}